body {
    background-color: rgb(211, 245, 245);
    color: black;
    font-size: 1.3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

@media only screen and (max-width:600px) {
    body {
        font-size: 0.7rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    h3 {
        font-size: 1rem;
    }

    .mainimg {
        grid-template-columns: auto auto;
        width: 95%;
        margin: auto;
    }

    .hidden-mobile {
        display: none;
    }
}

@media only screen and (min-width:601px) {
    .mainimg {
        grid-template-columns: auto auto auto;
    }
}


footer {
    background-color: #37fbcd;
    text-align: center;
    padding: 5px;
    color: black;
    margin-top: 15px;
}

footer a img {
    width: 5vw;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

footer a img:hover {
    transform: scale(0.95);
    transition-duration: 0.5s;
}

h1 {
    text-align: center;
    position: relative;
}

h2 {
    text-align: center;
    position: relative;
}

h3 {
    text-align: center;
    position: relative;
    margin: auto;
}

.mainimg {
    display: grid;
    justify-content: center;
}

.SelectImage {
    display: inline-block;
    width: 23vw;
    height: 23vw;
    border-width: 5px;
    border-color: rgb(123, 255, 255);
    border-style: solid;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    position: relative;
    margin-top: 1vw;
    margin-bottom: 5vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

.imgClick {
    height: 100%;
    width: 100%;
}

#Moist {
    width: 13vw;
    display: inline-block;
}

.SelectImage:hover {
    transform: scale(1.1);
    transition-duration: 1s;
}

.dark-mode {
    background-color: rgb(44, 10, 10);
    color: white;
}

.light-mode {
    background-color: rgb(211, 245, 245);
    color: black;
}

.navbar {
    background-color: #37fbcd;
    width: 100%;
    margin-bottom: 10px;
}

.nav-link:hover {
    background-color: rgba(0,0,0,0.2);
}

.Celestial {
    margin: 5px;
}

.Celestial img {
    width: 2vw;
}

.Celestial img:hover {
    transform: scale(0.9);
    transition-duration: 0.5s;
}

.game {
    width: 50vw;
}

#next {
    z-index: 3;
    position: absolute;
    top: 50vh;
    left: 50vw;
}

#higher {
    z-index: 3;
    position: absolute;
    top: 47vh;
    left: 50vw;
}

#lower {
    z-index: 3;
    position: absolute;
    top: 53vh;
    left: 50vw;
}

#vid {
    border-width: 5px;
    border-color: rgb(123, 255, 255);
    border-style: double;
    position: relative;
    width: 80vw;
    height: 45vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: purple;
    padding: 5px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

#moistmeter {
    width: 100%;
    max-height: fit-content;
    position: absolute;
    margin: auto;
}

.ratebox {
    width: 40vw;
    height: 22.5vw;
    background-color: deepskyblue;
    border: 5px #37fbcd solid;
    border-radius: 15px;
    display: inline-block;
    position: relative;
    margin-left: 5vw;
}

.ratebox img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: absolute;
    z-index: 2;
    animation-name: fadeOut;
    -webkit-animation: fadeOut 2s;
    -moz-animation: fadeOut 2s;
    -o-animation: fadeOut 2s;
    -ms-animation: fadeOut 2s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    from {opacity: 1}
    to {opacity: 0}
}
@-webkit-keyframes fadeOut {
    from {opacity: 1}
    to {opacity: 0}
}
@-moz-keyframes fadeOut {
    from {opacity: 1}
    to {opacity: 0}
}
@-o-keyframes fadeOut {
    from {opacity: 1}
    to {opacity: 0}
}
@-ms-keyframes fadeOut {
    from {opacity: 1}
    to {opacity: 0}
}

.Rating {
    font-size: 8vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin: auto;
}

table, td {
    /*border: solid 3px black;*/
    text-align: center;
    border-collapse: collapse;
}

table {
    width: 80vw;
    margin-left: 9vw;
}

.left {
    float: right;
}

.right {
    text-align: center;
}

#poster {
    width: 21vw;
    height: 23vw;
    border-width: 5px;
    border-color: rgb(123, 255, 255);
    border-style: solid;
    border-radius: 20px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin-left: 16vw;
}

.para {
    width: 90%;
    margin: auto;
    border: 3px black solid;
    border-radius: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    background-color: #8be4ff;
}

#Contact {
    width: 60%;
    margin: auto;
    border: 5px rgb(123, 255, 255) solid;
    background-color: #8be4ff;
    margin-bottom: 10px;
}

#Contact form {
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
}

#Contact form textarea{
    width: 100%;
}

ul, ol {
    display: inline-block;
    text-align: left;
}

#charliedesc p {
    display: inline-block;
    width: 65%;
}

#charliedesc img {
    margin: 10px;
    display: inline-block;
    background-color: gray;
    border-style: solid;
    border-color: grey;
    border-width: 7px;
    border-radius: 20px;
    width: 25vw;
    vertical-align: top;
}

#moistlinks img {
    display: inline-block;
    width: 13vw;
    margin: 10px;
}

#moistlinks img:hover {
    transform: scale(0.95);
    transition-duration: 0.5s;
}

#list{
    font-size: 0.8em;
}
 
.media{
   display: list-item;    
}

meter::-webkit-meter-optimum-value {
    background: rgb(0, 216, 219);
}
meter::-moz-meter-bar { /* Firefox Pseudo Class */
    background: rgb(0, 216, 219);
}

.slideshow-container {
    width: 90%;
    margin: auto;
    max-width: 1000px;
    max-height: 571px;
    position: relative;
    margin: auto;
    border-radius: 7px;
}

.mySlides img {
    max-height: 563px;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.actives, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fades {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}